<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h2 class="display-4">Want to delete secrets?</h2>
    <div class="my-secrets">
        <% currUser.secret.forEach(function(obj){ %>
            <div class="container secret-container">
              <div class="row">
                  <div class="col-11">
                    <p class="secret-text"><%= obj.data %></p>
                  </div>
                  <div class="col secret-delete-btn">
                    <form action="/delete" method="POST">
                      <button type="submit" class="btn btn-lg" name="dltBtn" value="<%= obj._id %>"><i class="fas fa-trash-alt"></i></button>
                    </form>
                  </div>
              </div>
            </div>
        <% }) %>
    </div>
    <hr>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
